1. The mean liver iron concentration (LIC) of the left lobe (mg/g): {{licLtLobeTwoDecimal}} mg/g. 
2. The mean liver iron concentration (LIC) of the right anterior lobe (mg/g): {{licRtAntLobeTwoDecimal}} mg/g 
3. The liver iron concentration (LIC) of the right posterior lobe (mg/g): {{licRtPostLobeTwoDecimal}} mg/g 
4. The mean T2* of the left hepatic lobe (msec): {{t2StarMsLtLobe}} ms 
5. The mean T2* of the right anterior hepatic lobe(msec): {{t2StarMsRtAntLobe}} ms  
6. The mean T2* of the right posterior hepatic lobe (msec): {{t2StarMsRtPostLobe}} ms 
