TI-RADS Findings:

{{#nodules}}
- (Nodule {{id}}) [{{location}}] {{^isMarginExtra}}{{marginDesc}}{{/isMarginExtra}} {{echogenicityDesc}} {{compositionDesc}} nodule{{#isMarginExtra}} with {{marginDesc}}{{/isMarginExtra}}{{#isShapeTaller}} with {{shapeDesc}} feature{{/isShapeTaller}}{{^isEchogenicFociNoneComet}} with {{echogenicFociDesc}}{{/isEchogenicFociNoneComet}}{{#hasSizeProvided}}, measuring {{sizeInCm}} cm{{/hasSizeProvided}}; {{tiradsLevel}}.{{^noActionNeeded}} {{recommendationSummary}}.{{/noActionNeeded}}
{{/nodules}}
{{#hasMultipleNodules}}

Summary: 

- Highest category: {{highestTiradsLevel}} ({{highestTiradsLevelDesc}})
{{/hasMultipleNodules}}

TIRADS  
TR1: benign  
TR2: not suspicious  
TR3: mildly suspicious: FNA if ≥ 2.5 cm, Follow-up if ≥ 1.5 cm  
TR4: moderately suspicious: FNA if ≥ 1.5 cm, Follow-up if ≥ 1 cm  
TR5: highly suspicious: FNA if ≥ 1 cm, Follow-up if ≥ 0.5 cm  
   