{{#protocolName}}
Protocol: {{protocolName}}
{{/protocolName}}
{{#contrastText}}
Contrast: {{contrastText}}
{{/contrastText}}
{{#phaseDesignText}}
Phases:
{{phaseDesignText}}
{{/phaseDesignText}}
{{#note}}
Note: {{note}}
{{/note}}